.container-variaveis {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 16px;
    padding: 16px;
    flex: 1;
    overflow-y: auto;
    align-content: start;
}